/*
 *  This file can be used to set variables and supply global styling.  View specific
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

// Global Color Vars
$brown: #4F351F;
$white: #fff;
$dark-blue: #123;

// remove `extjs trial` watermark for demo
.x-panel-header-title-default,
.x-window-header-title-default {
	& > .x-title-text-default:after {
		content: '' !important;
	}
}