
.x-panel.games {
	.x-panel-default {
		border: 0 !important;
	}

	.x-panel-body-default {
		background: transparent;
	}

	.x-panel-body.x-grid-body,
	.x-grid-header-ct.x-docked {
		border: 0;
	}
}

.x-toolbar.x-docked {
    background: transparent;
    border: 0;

    .x-form-display-field-default {
    	font-weight: bold;
    	font-size: 15px;
    }
}

.x-window.games-editor {
	.x-panel-body {
		background: $brown;
	}
}